<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AccountToken" value="faf9d6dba50474216772139d112ddf6b" />
    <add key="SecretKey" value="80f481bdde66b7e089f7449c4d099dcf" />
  </appSettings>
</configuration>